<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/template">

<th:block layout:fragment="sidebar">
    <div th:replace="admin/fragments/main-sidebar :: editorSidebar"/>
</th:block>
<th:block layout:fragment="specificScripts">
    <script th:src="@{/webjars/datatables/1.10.16/js/jquery.dataTables.min.js}"/>
    <script th:src="@{/webjars/datatables/1.10.16/js/jquery.dataTables.min.js}"/>
    <script src="/public/lib/select2/select2.min.js"/>
    <script th:replace="admin/fragments/datatables-common :: datatables-config"/>
    <script>
        var valuesTable

        function processItemButtonClick(firedEvent) {
            if ($(firedEvent.target).hasClass('addItemButton')) {
                var clonedElement = $(firedEvent.target.parentElement.parentElement.parentElement).clone()
                clonedElement.find('button').click(function (firedEvent) {
                    firedEvent.preventDefault();
                    processItemButtonClick(firedEvent);
                });
                $(clonedElement).find('input')[0].value = '';
                $(clonedElement).find('input')[0].name = 'clValue-' + $("#clSize").val();
                $("#clSize").val(parseInt($("#clSize").val()) + 1)
                clonedElement.appendTo($(firedEvent.target.parentElement.parentElement.parentElement.parentElement))
                $(firedEvent.target).removeClass('addItemButton btn-success fa-plus')
                $(firedEvent.target).addClass('removeItemButton btn-warning fa-minus')
            } else {
                if ($(firedEvent.target).hasClass('removeItemButton')) {
                    $(firedEvent.target.parentElement.parentElement.parentElement).remove()
                }
            }
        }

        function removeValue(id) {
            $.ajax({
                url: '/storage/cl/value/' + id + '/delete',
                type: 'GET'
            }).done(function (response) {
                valuesTable.row('#' + response.id).remove()
                valuesTable.draw(false);
            })
        }

        function populateValueEditModal(clickedButton) {
            $($('#editValueModal input[name=name]')[0]).val($(clickedButton).data('value_name'))
            $($('#editValueModal input[name=code]')[0]).val($(clickedButton).data('value_code'))
            $($('#editValueModal input[name=id]')[0]).val($(clickedButton).data('value_id'))
        }

        $(document).ready(function () {
            $("#semValueTypeGroups").select2({
                placeholder: {
                    id: '-1', // the value of the option
                    text: 'Выберите типы значений'
                }
            });

            valuesTable = $('#valuesTable').DataTable({
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }, {
                    "targets": [1],
                    "width": "20%"
                }, {
                    "targets": [2],
                    "width": "60%"
                }, {
                    "targets": [3],
                    "width": "20%"
                }
                ],
                "order": [1, "asc"]
            });
            $('#valuesTable').removeClass('hidden');

            $('#editValueModal').on('hidden.bs.modal', function () {
                $($('#editValueModal input[name=name]')[0]).val('')
                $($('#editValueModal input[name=code]')[0]).val('')
                $($('#editValueModal input[name=id]')[0]).val('')
            })

            $('#classifierValueEditFormSubmit').click(function (event) {
                event.preventDefault()
                event.stopPropagation()
                data = $("#classifierValueEditForm").serialize();
                $.ajax({
                    url: $("#classifierValueEditForm").attr('action'),
                    type: $("#classifierValueEditForm").attr('method'),
                    data: data
                }).done(function (response) { //
                    $('#editValueModal').modal('toggle');
                    var removeButton = document.createElement('button')
                    removeButton.className = 'btn btn-danger removeClValueButton'
                    removeButton.setAttribute('data-value_id', response.classifierValue.id)
                    removeButton.innerHTML = 'Удалить'

                    var editButton = document.createElement('button')
                    editButton.className = 'btn btn-primary editClValueButton'
                    editButton.setAttribute('href', "/storage/cl/value/" + response.classifierValue.id + "/delete")
                    editButton.setAttribute('data-toggle', "modal")
                    editButton.setAttribute('data-target', "#editValueModal")
                    editButton.setAttribute('data-value_id', response.classifierValue.id)
                    editButton.setAttribute('data-value_name', response.classifierValue.name)
                    editButton.setAttribute('data-value_code', response.classifierValue.code)
                    editButton.innerHTML = 'Редактировать'

                    valuesTable.row('#' + response.classifierValue.id).remove()

                    valuesTable.row.add([
                        response.classifierValue.id,
                        response.classifierValue.code,
                        response.classifierValue.name,
                        removeButton.outerHTML + ' ' + editButton.outerHTML
                    ]).node().id = response.classifierValue.id
                    valuesTable.draw(false);

                    $('.removeClValueButton').unbind()
                    $('.editClValueButton').unbind()

                    $('.removeClValueButton').click(function (event) {
                        removeValue($(event.target).data('value_id'))
                    })

                    $('.editClValueButton').click(function (event) {
                        populateValueEditModal(event.target)
                    })
                })
            })

            $('.removeClValueButton').click(function (event) {
                removeValue($(event.target).data('value_id'))
            })

            $('.editClValueButton').click(function (event) {
                populateValueEditModal(event.target)
            })

        });

    </script>
</th:block>
<th:block layout:fragment="specificStyles">
    <link href="/public/lib/select2/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.16/css/jquery.dataTables.min.css}"/>
    <style>
        .dataTable .btn {
            width: 90pt;
        }
        .form-group.required label:after {
            content: "*";
            color: red;
        }
    </style>
</th:block>
<th:block layout:fragment="content">
    <fieldset>
        <legend><h4>
            <span>Параметры классификатора</span>
        </h4></legend>
        <form id="classifierEditForm" role="form" method="post" class="form" action="/storage/cl/edit">
            <div id="demo" class="form-group">
                <label for="id">ID</label>
                <input type="text" th:readonly="true" th:value="${classifier?.id}" id="id" name="id"
                       class="form-control"
                       placeholder="ID"/>
            </div>
            <div class="form-group">
                <label for="name">Название</label>
                <input type="text" th:readonly="false" th:value="${classifier?.name}" id="name" name="name"
                       class="form-control"
                       placeholder="Название" required="required"/>
            </div>
            <input type="hidden" id="clSize" disabled="disabled"
                   th:value="${classifierValues!=null} ? ${classifierValues?.size()+1} : '2'"/>
            <div class="row">
                <div class="col-md-4 form-group">
                    <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
                </div>
            </div>
        </form>
    </fieldset>
    <hr style="border: 1px solid #000; margin-top: 0;"/>
    <fieldset th:disabled="${classifier==null}">
        <legend><h4>
            <span>Значения классификатора</span>
        </h4></legend>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 form-group">
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal"
                            data-target="#editValueModal">
                        Добавить значение
                    </button>
                </div>
            </div>
            <table id="valuesTable" class="table hover hidden">
                <thead>
                <tr style="font-size: 13px">
                    <td>id</td>
                    <td>Код</td>
                    <td>Значение</td>
                    <td>Действия</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="clValue: ${classifierValues}" th:id="${clValue.id}">
                    <td th:text="${clValue.id}" class="hide"/>
                    <td th:text="${clValue.code}"/>
                    <td th:text="${clValue.name}"/>
                    <td>
                        <button class="btn btn-danger removeClValueButton" th:attr="data-value_id=${clValue.id}"
                                th:text="Удалить"/>
                        <button class="btn btn-primary editClValueButton" type="button" data-toggle="modal"
                                data-target="#editValueModal"
                                th:attr="data-value_id=${clValue.id},data-value_name=${clValue.name},data-value_code=${clValue.code}">
                            Редактировать
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </fieldset>

    <!-- Modal -->
    <div class="modal fade" id="editValueModal" tabindex="-1" role="dialog" aria-labelledby="editValueModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editValueModalLabel">Редактирование классификатора</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="classifierValueEditForm" role="form" method="post" class="form"
                      action="/storage/cl/value/edit">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label style="width: 100%;">ID</label>
                                <input name="id" type="text" class="form-control" style="margin-bottom: 10px;"
                                       readonly="readonly"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group required">
                                <label style="width: 100%;">Код</label>
                                <input name="code" type="text" class="form-control" required="required"
                                       style="margin-bottom: 10px;"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group required">
                                <label style="width: 100%;">Значение</label>
                                <input name="name" type="text" required="required" class="form-control"/>
                            </div>
                        </div>
                        <input name="classifier" type="hidden" th:value="${classifier?.id}"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <input id='classifierValueEditFormSubmit' type="submit" class="btn btn-primary"
                               value="Сохранить изменения"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
</html>