<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/template">

<th:block layout:fragment="specificScripts">
    <script th:src="@{/webjars/datatables/1.10.16/js/jquery.dataTables.min.js}"/>
    <script th:replace="admin/fragments/datatables-common :: datatables-config"/>
    <script>
        $(document).ready(function() {
            $('#modelsTable').DataTable();
        });
    </script>
</th:block>
<th:block layout:fragment="specificStyles">
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.16/css/jquery.dataTables.min.css}"/>
    <style>
        .dataTable .btn {
           width: 90pt;
        }
    </style>
</th:block>
<th:block layout:fragment="content">
    <a class="btn btn-primary btn-block" href="/admin/semantic/relation/add" style="margin: 10px 0 10px 0;">Добавить</a>
    <table id="modelsTable" class="table hover">
        <thead>
        <tr style="font-size: 13px;">
            <td>ID</td>
            <td>Название</td>
            <td>Двунаправленное</td>
            <td>Действия</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="semRelation : ${semRelations}">
            <td th:text="${semRelation.id}"/>
            <td th:text="${semRelation.name}"/>
            <td th:text="${semRelation.bidirectional}?'Да':'Нет'"/>
            <td>
                <a class="btn btn-primary" th:href="@{'/admin/semantic/relation/edit/' + ${semRelation.id}}">Редактировать</a>
                <a class="btn btn-danger" th:href="@{'/admin/semantic/relation/' + ${semRelation.id}} + '/delete'">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary btn-block" href="/admin/semantic/relation/add" style="margin: 10px 0 10px 0;">Добавить</a>
</th:block>
</html>