<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.21/css/jquery.dataTables.min.css}"/>
    <link rel="stylesheet" href="/css/sticky-footer.css">
</head>

<th:block layout:fragment="content">
    <form role="form" method="post" class="form" action="/loginUserGroup/edit" enctype="multipart/form-data">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" th:readonly="true" th:value="${loginUserGroup?.id}" id="id" name="id" class="form-control" placeholder="ID"/>
        </div>
        <div class="form-group">
            <label for="groupName">GroupName</label>
            <input type="text" th:readonly="false" th:value="${loginUserGroup?.groupName}" id="groupName" name="groupName"
                   class="form-control"
                   placeholder="GroupName"/>
        </div>
        <button type="submit" class="btn btn-primary btn-block" style="margin-bottom: 10px;">Save</button>
    </form>
</th:block>
</html>