<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="mainMenu" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Inventory</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="loginUser" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    LoginUsers
                </a>
                <div class="dropdown-menu" aria-labelledby="loginUser">
                    <a class="dropdown-item" href="/loginUser/">List</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/loginUser/add">Create</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  id="loginUserRole" role="button" data-toggle="dropdown">
                    LoginUserRoles
                </a>
                <div class="dropdown-menu" aria-labelledby="loginUserRole">
                    <a class="dropdown-item" href="/loginUserRole/">List</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/loginUserRole/add">Create</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  id="ansibleHost" role="button" data-toggle="dropdown">
                    AnsibleHosts
                </a>
                <div class="dropdown-menu" aria-labelledby="ansibleHost">
                    <a class="dropdown-item" href="/ansibleHost/">List</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/ansibleHost/add">Create</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  id="ansibleHostGroup" role="button" data-toggle="dropdown">
                    AnsibleHostGroups
                </a>
                <div class="dropdown-menu" aria-labelledby="ansibleHostGroup">
                    <a class="dropdown-item" href="/ansibleHostGroup/">List</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/ansibleHostGroup/add">Create</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <a th:href="@{/logout}">Logout</a>
    </div>
</nav>
</body>
</html>