<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/template">

<th:block layout:fragment="specificScripts"></th:block>
<th:block layout:fragment="specificStyles"></th:block>
<th:block layout:fragment="content">
    <form role="form" method="post" class="form" action="/admin/semantic/semnodetypes_relation/edit">
        <button type="submit" class="btn btn-primary btn-block" style="margin-bottom: 10px;">Сохранить</button>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" th:readonly="true" th:value="${semNodeTypesRelation?.id}" id="id" name="id" class="form-control"
                   placeholder="ID"/>
        </div>
        <div class="form-group">
            <label for="classifier" class="markrequired">Тип связи</label>
            <select id="classifier" name="semRelation" class="form-control" required="required">
                <option value="">Выберите тип связи...</option>
                <option th:each="semRelation: ${semRelations}"
                        th:value="${semRelation.id}"
                        th:text="${semRelation.name}"
                        th:selected="${semRelation?.id==semNodeTypesRelation?.semRelation?.id}"/>
            </select>
        </div>
        <div class="form-group">
            <label for="semNodeTypeLeft" class="markrequired">Левый тип (источник)</label>
            <select id="semNodeTypeLeft" name="semNodeTypeLeft" class="form-control" required="required">
                <option value="">Выберите тип...</option>
                <option th:each="semNodeType: ${semNodeTypes}"
                        th:value="${semNodeType.id}"
                        th:text="${semNodeType.name}"
                        th:selected="${semNodeType?.id==semNodeTypesRelation?.semNodeTypeLeft?.id}"/>
            </select>
        </div>
        <div class="form-group">
            <label for="semNodeTypeRight" class="markrequired">Правый тип (целевой)</label>
            <select id="semNodeTypeRight" name="semNodeTypeRight" class="form-control" required="required">
                <option value="">Выберите тип...</option>
                <option th:each="semNodeType: ${semNodeTypes}"
                        th:value="${semNodeType.id}"
                        th:text="${semNodeType.name}"
                        th:selected="${semNodeType?.id==semNodeTypesRelation?.semNodeTypeRight?.id}"/>
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block" style="margin-bottom: 10px;">Сохранить</button>
    </form>
</th:block>
</html>