<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/template">

<th:block layout:fragment="specificScripts">
    <script th:src="@{/webjars/datatables/1.10.16/js/jquery.dataTables.min.js}"/>
    <script th:src="@{/webjars/datatables/1.10.16/js/jquery.dataTables.min.js}"/>
    <script src="/public/lib/select2/select2.min.js"/>
    <script th:replace="admin/fragments/datatables-common :: datatables-config"/>
    <script>
        function processItemButtonClick(firedEvent){
            if($(firedEvent.target).hasClass('addItemButton')){
                clonedElement = $(firedEvent.target.parentElement.parentElement.parentElement).clone()
                clonedElement.find('button').click(function(firedEvent){
                    firedEvent.preventDefault();
                    processItemButtonClick(firedEvent);
                });
                $(clonedElement).find('input')[0].value = '';
                clonedElement.appendTo($(firedEvent.target.parentElement.parentElement.parentElement.parentElement))
                $(firedEvent.target).removeClass('addItemButton btn-success fa-plus')
                $(firedEvent.target).addClass('removeItemButton btn-warning fa-minus')
            }else{
                if($(firedEvent.target).hasClass('removeItemButton')){
                    $(firedEvent.target.parentElement.parentElement.parentElement).remove()
                }
            }
        }
        function uploadFile(target, clearInputCallback){
            var formData = new FormData();
            formData.append('file', target.files[0]);
            formData.append('semValueTypeId', $(target).data('semvaluetypeid'));
            if($(target).data('nodeid')!=undefined)
                formData.append('nodeId', $(target).data('nodeid'));
            $.ajax({
                url: '/file/uploadFile',
                type: 'POST',
                data: formData,
                cache: false,
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function(data){
                    var removeButton = document.createElement('a')
                    removeButton.className = 'btn btn-success fa fa-download'
                    removeButton.setAttribute('download',data.name)
                    removeButton.setAttribute('href','/file/'+data.id)

                    var downloadButton = document.createElement('button')
                    downloadButton.className = 'btn btn-danger fa fa-trash deleteNodeFile'

                    downloadButton.setAttribute('data-fileid', data.id)

                    if($(target).data('nodeid')==undefined){
                        var fileHiddenInput = document.createElement('input')
                        fileHiddenInput.setAttribute('type','hidden')
                        fileHiddenInput.setAttribute('name','file-'+$(target).data('semvaluetypeid'))
                        fileHiddenInput.setAttribute('value',data.id)
                        $('#nodeEditForm').append(fileHiddenInput)
                    }
                    clearInputCallback()
                    filesTable.row.add([
                        data.id,
                        data.name,
                        data.md5Hash,
                        parseFloat(Math.round(100* data.size / (1024 * 1024)) / 100).toFixed(2),
                        removeButton.outerHTML + ' ' + downloadButton.outerHTML
                    ]).node().id = data.id
                    filesTable.draw(false)
                    bindDeleteHandlers();
                },
                error: function(jqXHR, textStatus, errorThrown){
                    alert("ошибка: файл не загружен")
                    $(".addNodeFile")[0].value=""
                    console.log('ERRORS: ' + textStatus)
                }
            });
        }
        function deleteFile(fileId){
            $.ajax({
                url: '/file/' + fileId + '/deleteNodeFile',
                type: 'GET',
                cache: false,
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function(data, textStatus, jqXHR){
                    filesTable
                        .row('#'+fileId)
                        .remove()
                        .draw(false)
                    $("input[value='"+fileId+"']").remove()
                },
                error: function(jqXHR, textStatus, errorThrown){
                    alert("ошибка: файл не удалён")
                    console.log('ERRORS: ' + textStatus)
                }
            });
        }
        var filesTable;
        $(document).ready(function() {
            $('.addItemButton').click(function(firedEvent){
                firedEvent.preventDefault();
                processItemButtonClick(firedEvent);
            });
            $('.removeItemButton').click(function(firedEvent){
                firedEvent.preventDefault();
                processItemButtonClick(firedEvent);
            });
            filesTable = $('.nodeAttachedFiles').DataTable({
                "searching": false,
                "paging": false
            });
            $(".addNodeFile").change(function(event){
                event.stopPropagation();
                event.preventDefault();
                uploadFile(event.target,function(){
                    event.target.value=""
                })
            });
            $(".classifierValues").select2({
                placeholder: 'Выберите значения'
            });
            bindDeleteHandlers();
        });
        function bindDeleteHandlers(){
            $(".deleteNodeFile").unbind();
            $(".deleteNodeFile").click(function(firedEvent){
                firedEvent.preventDefault();
                if (confirm('Удалить указаный файл?')) {
                    deleteFile($(firedEvent.target).data('fileid'));
                }
            });
        };
    </script>
</th:block>
<th:block layout:fragment="specificStyles">
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.16/css/jquery.dataTables.min.css}"/>
    <link href="/public/lib/select2/select2.min.css" rel="stylesheet" />
</th:block>
<th:block layout:fragment="content">
    <form id="nodeEditForm" role="form" method="post" class="form" action="/admin/data/node/edit">
        <button type="submit" class="btn btn-primary btn-block" style="margin-bottom: 10px;">Сохранить</button>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" th:readonly="true" th:value="${node?.id}" id="id" name="id" class="form-control"
                   placeholder="ID"/>
        </div>
        <div class="form-group">
            <label for="name">Название</label>
            <input type="text" th:readonly="false" th:value="${node?.name}" id="name" name="name" class="form-control"
                   placeholder="Название" required="required"/>
        </div>
        <th:block th:replace="admin/fragments/value-tabs :: valueTabs(${semNodeType},${valuesMap},${node})"/>
        <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" style="margin-bottom: 10px;">Сохранить</button>
        </div>
        <input id="semNodeType" name="semNodeType" type="hidden" th:value="${semNodeType.id}"/>
    </form>
</th:block>
</html>