<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/template">

<th:block layout:fragment="specificScripts">
    <script th:src="@{/webjars/datatables/1.10.16/js/jquery.dataTables.min.js}"/>
    <script>
        $(document).ready(function() {
            $('#usersTable').DataTable()
        });
    </script>
</th:block>
<th:block layout:fragment="specificStyles">
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.16/css/jquery.dataTables.min.css}"/>
</th:block>
<th:block layout:fragment="content">
    <a class="btn btn-primary btn-block" href="/admin/users/add" style="margin: 10px 0 10px 0;">Добавить</a>
    <table id="usersTable" class="table hover">
        <thead>
        <tr style="font-size: 13">
            <td>ID</td>
            <td>Username</td>
            <td>Действия</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"/>
            <td th:text="${user.username}"/>
            <td>
                <a class="btn btn-primary" th:href="@{'/admin/users/edit/' + ${user.id}}">Редактировать</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary btn-block" href="/admin/models/add" style="margin: 10px 0 10px 0;">Добавить</a>
</th:block>
</html>