<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/template">

<th:block layout:fragment="sidebar">
    <div th:replace="admin/fragments/main-sidebar :: editorSidebar"/>
</th:block>
<th:block layout:fragment="specificScripts">
    <script th:src="@{/webjars/datatables/1.10.16/js/jquery.dataTables.min.js}"/>
    <script src="/public/lib/select2/select2.min.js"/>
    <script th:replace="admin/fragments/datatables-common :: datatables-config"/>
    <script>
        $(document).ready(function () {
            $('#listTable').DataTable()
            $('#listTable').removeClass("hidden")
            $("#semValueTypes").select2()
            $('#nodeAddButton').click(function (event) {
                    window.location.href = '/storage/'+this.getAttribute('data-semNodeTypeId')+'/add'
            })
        });
    </script>
</th:block>
<th:block layout:fragment="specificStyles">
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.16/css/jquery.dataTables.min.css}"/>
    <link href="/public/lib/select2/select2.min.css" rel="stylesheet"/>
    <style>
        .dataTable .btn {
            width: 90pt;
        }
    </style>
</th:block>
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-md-1">
            <div class="form-group">
                <button id="nodeAddButton" class="btn btn-primary" th:attr="data-semNodeTypeId=${semNodeTypeId}">
                    Добавить
                </button>
            </div>
        </div>
    </div>
    <table id="listTable" class="table hover hidden">
        <thead>
        <tr style="font-size: 13px;">
            <td>ID</td>
            <td>Название</td>
            <td>Действия</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="node : ${nodes}">
            <td th:text="${node.id}"/>
            <td th:text="${node.name}"/>
            <td>
                <a class="btn btn-primary" th:href="@{'/storage/ps/edit/' + ${node.id}}">Редактировать</a>
                <a class="btn btn-danger" th:href="@{'/storage/ps/' + ${node.id}} + '/delete'">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</th:block>
</html>