<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/template">

<th:block layout:fragment="specificScripts">
    <script th:src="@{/webjars/datatables/1.10.16/js/jquery.dataTables.min.js}"/>
    <script th:replace="admin/fragments/datatables-common :: datatables-config"/>
    <script>
        $(document).ready(function() {
            $('#nodetypeTable').DataTable();
        });
    </script>
</th:block>
<th:block layout:fragment="specificStyles">
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.16/css/jquery.dataTables.min.css}"/>
    <style>
        .dataTable .btn {
           width: 90pt;
        }
    </style>
</th:block>
<th:block layout:fragment="content">
    <a class="btn btn-primary btn-block" href="/admin/semantic/nodetype/add" style="margin: 10px 0 10px 0;">Добавить</a>
    <table id="nodetypeTable" class="table hover">
        <thead>
        <tr style="font-size: 13px">
            <td>ID</td>
            <td>Название</td>
            <td>Parent</td>
            <td>Действия</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="nodeType : ${nodeTypes}">
            <td th:text="${nodeType.id}"/>
            <td th:text="${nodeType.name}"/>
            <td><a th:if="${nodeType.parent!=null}"
                   th:href="'/admin/semantic/nodetype/edit/'+${nodeType.parent.id}"
                   th:text="${nodeType.parent.name}"/>
            </td>
            <td>
                <a class="btn btn-success" th:href="@{'/admin/data/node/addbytype/' + ${nodeType.id}}">Добавить узел</a>
                <a class="btn btn-primary" th:href="@{'/admin/semantic/nodetype/edit/' + ${nodeType.id}}">Редактировать</a>
                <a class="btn btn-danger" th:href="@{'/admin/semantic/nodetype/' + ${nodeType.id}} + '/delete'">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary btn-block" href="/admin/semantic/nodetype/add" style="margin: 10px 0 10px 0;">Добавить</a>
</th:block>
</html>