<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
<header class="main-header" th:fragment="adminHeader">
    <a href="/admin" class="logo">
        <span class="logo-mini"><b>П</b>У</span>
        <span class="logo-lg"><b>Панель</b>Управления</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav"><li class="footer"><a href="/logout">Выйти</a></li></ul>
        </div>
    </nav>
</header>
</body>
</html>