<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{web/layout}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.21/css/jquery.dataTables.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.14.0/css/all.min.css}"/>
    <script src="/resources/js/mapBindingFunctions.js"></script>
    <script>
        $(document).ready(function () {
            document.variableCounter = 0;
            document.querySelectorAll('.addItemButton, .removeItemButton').forEach(function (button) {
                button.onclick = function (firedEvent) {
                    firedEvent.preventDefault();
                    processItemButtonClick(firedEvent);
                }
            })
            remapKeysAndValues();
        });
    </script>
</head>
<th:block layout:fragment="content">
    <form id="submitForm" role="form" method="post" class="form" action="/ansibleHost/edit"
          enctype="multipart/form-data"
          th:object="${ansibleHost}">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" th:readonly="true" th:field="*{id}" id="id" name="id" class="form-control"
                   placeholder="ID"/>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <p class="inline-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name</p>
            <input type="text" th:readonly="false" th:field="*{name}" id="name" name="name"
                   class="form-control"
                   placeholder="Name"/>
        </div>
        <div class="form-group">
            <label for="group">Group</label>
            <select id="group" name="group" class="form-control" data-placeholder="Select group" th:field="*{group}">
                <option value=""></option>
                <option th:each="ansibleHostGroup: ${ansibleHostGroups}"
                        th:field="*{group}"
                        th:value="${ansibleHostGroup.id}"
                        th:text="${ansibleHostGroup.name}">
                </option>
            </select>
        </div>
        <div class="container">
            <fieldset id="variablerows" class="form-group border p-2">
                <legend>AnsibleHost Variables</legend>
                <div class="row">
                    <div class="col-lg-2 offset-lg-5">
                        <button class="btn fa btn-success addItemButton fa-plus"></button>
                    </div>
                </div>
                <hr/>
                <th:block th:each="variable: *{variables}">
                    <div class="row value-keeper">
                        <div class="col-lg-5">
                            <label>
                                <input class="form-control" name='variable-key' type="text"
                                       placeholder="variable name" th:value="${variable.key}"/>
                            </label>
                        </div>
                        <div class="col-lg-5">
                            <label>
                                <input class="form-control" name='variable-value' type="text"
                                       placeholder="variable value" th:value="${variable.value}"/>
                            </label>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn fa btn-warning removeItemButton fa-minus"></button>
                        </div>
                    </div>
                </th:block>
                <template id="variablerow">
                    <div class="row value-keeper">
                        <div class="col-lg-5">
                            <label>
                                <input class="form-control" name="variable-key" type="text" placeholder="variable name"/>
                            </label>
                        </div>
                        <div class="col-lg-5">
                            <label>
                                <input class="form-control" name="variable-value" type="text" placeholder="variable value"/>
                            </label>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn fa btn-warning removeItemButton fa-minus"></button>
                        </div>
                    </div>
                </template>
            </fieldset>
        </div>
        <button type="submit" class="submit-button btn btn-primary btn-block" style="margin-bottom: 10px;">Save</button>
    </form>
</th:block>
</html>