<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{web/layout}">

<head>
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.21/css/jquery.dataTables.min.css}"/>
    <link rel="stylesheet" href="/resources/css/sticky-footer.css">
</head>

<th:block layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <table id="sample" class="display">
                <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>actions</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <script th:src="@{/webjars/datatables/1.10.21/js/jquery.dataTables.min.js}"></script>
    <script src="/resources/js/dtInit/ansibleHostList.js"></script>
</th:block>
</html>